@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import 'variables.css';

html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font);
    font-size: 1.6rem;
    color: var(--primary-color);
    line-height: var(--lh);
    font-weight: 400;
    background-color: var(--light-blue);
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a,
a:visited,
a:hover {
    display: inline-block;
    text-decoration: none;
    color: var(--dark-blue);
}

.col-6 {
    width: 50%;
}


/*Main Section Start*/
main {
    border: 1px solid #fff;
    border-radius: var(--radius);
    background-color: rgba(255, 255, 255, .3);
    padding: 2rem;
    margin: 0 3rem;
    box-shadow: var(--shadow);

    display: grid;
    grid-template-columns: 13rem 100rem;
}

main .menu-bar {
    background-color: var(--light-blue);
    text-align: center;
    border-radius: var(--radius) 0 0 var(--radius);
    padding: 2rem;
    margin: 0;
}

main .brand {
    --size: 6rem;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 4rem auto;
}

main .brand a {
    display: block;
    font-family: inherit;
    font-size: 2.5rem;
    color: #fff;
    line-height: var(--lh);
    background: var(--blue);
    font-weight: 800;
    padding: 0;
    margin: 0;
}

main .menu-bar ul li {
    border-radius: var(--radius);
    margin: 0 0 1.5rem 0;
}

main .menu-bar ul li a {
    --size: 60px;
    width: var(--size);
    height: var(--size);
    color: var(--dark-blue);
    border-radius: var(--radius);
    padding: 2rem;
    transition: var(--trans);
}

main .menu-bar ul li a.active,
main .menu-bar ul li a:hover {
    background-color: var(--blue);
    color: #fff;
}


/*App Window*/
main .app-window {
    background-color: #fff;
    padding: 2rem 4rem;
    border-radius: 0 var(--radius) var(--radius) 0;
}

main .app-window header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .app-window header .title-block h2 {
    font-family: inherit;
    font-size: 3rem;
    color: var(--blue);
    line-height: var(--lh);
    padding: 0;
    margin: 0;
}

main .app-window header .title-block p {
    font-family: inherit;
    font-size: 1.4rem;
    color: #7E8CAC;
    line-height: var(--lh);
    padding: 0;
    margin: 0;
}

main .app-window header .user-block ul {
    display: flex;
}

main .app-window header .user-block ul li {
    margin-left: 2rem;
}

main .app-window header .user-block ul li a {
    font-size: 2rem;
    color: #7E8CAC;
    transition: var(--trans);
}

main .app-window header .user-block ul li a img {
    width: 3.5rem;
    height: auto;
    border-radius: 1rem;
}

main .app-window header .user-block ul li a:hover {
    color: var(--blue);
}

/*Daily Transaction Section*/

main .app-window .daily-transaction {
    margin: 2.5rem 0;
}

main .app-window .daily-transaction .title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .app-window .daily-transaction .title-block h2 {
    font-family: inherit;
    font-size: 2rem;
    color: var(--blue);
    line-height: var(--lh);
    margin: 0;
    padding: 0;
}

main .app-window .daily-transaction .title-block .icon-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .app-window .daily-transaction .title-block .icon-block a:nth-child(1) {
    color: #444;
}

main .app-window .daily-transaction .title-block .icon-block a:nth-child(2) {
    font-size: 3rem;
    color: var(--blue);
    margin-left: 3rem;
}

main .app-window .daily-transaction .title-block .icon-block a:nth-child(2) i.fas {
    box-shadow: var(--shadow);
    border-radius: 50%;
    transition: var(--trans);
}

main .app-window .daily-transaction .title-block .icon-block a:nth-child(2):hover i.fas {
    box-shadow: none;
}

main .app-window .daily-transaction .amount-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5rem;
}

main .app-window .daily-transaction .amount-block .block small {
    color: var(--blue);
    font-weight: 500;
}

main .app-window .daily-transaction .amount-block .block h4 {
    font-family: inherit;
    font-size: 1.6rem;
    color: #444;
    line-height: var(--lh);
    font-weight: 400;
    padding: 0;
    margin: 0;
}

main .app-window .daily-transaction .amount-block .block:nth-child(3) h4 {
    font-family: inherit;
    font-size: 1.6rem;
    color: #000;
    line-height: var(--lh);
    font-weight: 700;
    padding: 0;
    margin: 0;
}

/*Transaction History*/
main .app-window .transaction-history {
    margin: 2.5rem 0;
}

main .app-window .transaction-history .title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .app-window .transaction-history .title-block h2 {
    font-family: inherit;
    font-size: 2rem;
    color: var(--blue);
    line-height: var(--lh);
    margin: 0 0 2rem 0;
    padding: 0;
}

main .app-window .transaction-history .date {
    font-family: inherit;
    font-size: 1.4rem;
    color: #444;
    line-height: var(--lh);
    font-weight: 600;
    margin: 0;
    padding: 0;
}

main .app-window .transaction-history .transaction-desc {
    margin: 2.5rem 0;
}

main .app-window .transaction-history .transaction-desc .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

main .app-window .transaction-history .transaction-desc .item .purpose h5 {
    font-family: inherit;
    font-size: 1.4rem;
    color: var(--blue);
    line-height: var(--lh);
    font-weight: 700;
    margin: 0;
    padding: 0;
}


main .app-window .transaction-history .transaction-desc .item .amount h5 {
    font-family: inherit;
    font-size: 1.4rem;
    color: var(--blue);
    line-height: var(--lh);
    font-weight: 700;
    margin: 0;
    padding: 0;
}

main .app-window .transaction-history .transaction-desc .item .amount h5.comes-in {
    color: var(--blue);
}

main .app-window .transaction-history .transaction-desc .item .amount h5.goes-out {
    color: var(--orange);
}





/*Calendar UI*/
.calendar-ui {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    padding: 3rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.calendar-ui .content-block {
    width: 100%;
}

.calendar-ui .content-block .month-year-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    margin: 0;
    border-bottom: .1rem solid #dcdcdc;
}

.calendar-ui .content-block .month-year-panel .month {
    width: calc(50% - .5rem);
    position: relative;
}

.calendar-ui .content-block .month-year-panel .month select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: .1rem solid var(--blue);
    border-radius: .6rem;
    outline: 0;
    width: 13rem;
    background: none;
    padding: .6rem;
    font-family: inherit;
    font-size: 1.4rem;
    color: #444;
    line-height: var(--lh);
    margin-right: .5rem;
    width: 100%;
}

.calendar-ui .content-block .month-year-panel .month::after {
    content: '\f107';
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: .5rem;
    right: 8%;
    background: none;
    cursor: pointer;
    pointer-events: none;
    color: #444;
    font-weight: 900;
}

.calendar-ui .content-block .month-year-panel .year {
    width: calc(50% - .5rem);
    position: relative;
}

.calendar-ui .content-block .month-year-panel .year select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: .1rem solid var(--blue);
    border-radius: .6rem;
    outline: 0;
    width: 13rem;
    background: none;

    font-family: inherit;
    font-size: 1.4rem;
    color: #444;
    line-height: var(--lh);
    padding: .6rem;
    width: 100%;

}

.calendar-ui .content-block .month-year-panel .year::after {
    content: '\f107';
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: .5rem;
    right: 8%;
    background: none;
    cursor: pointer;
    pointer-events: none;
    color: #444;
    font-weight: 900;
}

.calendar-ui .content-block .day-date-panel {
    padding: 0;
    margin: 0;
}

.calendar-ui .content-block .day-date-panel .day ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-ui .content-block .day-date-panel .day ul li {
    color: #444;
    padding: .8rem;
}

.calendar-ui .content-block .day-date-panel .date {
    padding: 1.2rem 0;
}

.calendar-ui .content-block .day-date-panel .date ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    place-items: center;
}

.calendar-ui .content-block .day-date-panel .date ul li {
    transition: var(--trans);
    cursor: pointer;
    border-radius: var(--radius);
    width: 4.1rem;
    height: 4.1rem;
    text-align: center;
    line-height: 4.1rem;
}

.calendar-ui .content-block .day-date-panel .date ul li.current,
.calendar-ui .content-block .day-date-panel .date ul li:hover {
    background-color: var(--blue);
    color: #fff;
}

.calendar-ui .content-block .day-date-panel .time-panel {
    padding: 1.5rem 0;
    border-top: .1rem solid #dcdcdc;
}

.calendar-ui .content-block .day-date-panel .time-panel input.form-control[type="text"] {
    width: 100%;
    border: none;
    outline: none;
    position: relative;
    background: none;
    padding: .5rem;

    font-family: inherit;
    font-size: 1.4rem;
    color: #444;
    line-height: var(--lh);
    padding: .5rem;
    border: .1rem solid var(--blue);
    border-radius: .6rem;
}

.calendar-ui .content-block .day-date-panel .time-panel input.form-control[type="time"] {
    width: 100%;
    border: none;
    outline: none;
    position: relative;
    background: none;
    padding: .5rem;

    font-family: inherit;
    font-size: 1.4rem;
    color: #fff;
    line-height: var(--lh);
    padding: .5rem;
    border: .1rem solid var(--blue);
    border-radius: .6rem;
}

.calendar-ui .content-block .day-date-panel .time-panel .form-control[type="time"]:focus {
    outline: none;
    box-shadow: none;
    border: none;
    color: #444;
}

.calendar-ui .content-block .day-date-panel .time-panel input.form-control[type="text"]::after {
    content: '\f017';
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 0;
    right: 8%;
    background: none;
    cursor: pointer;
    pointer-events: none;
    color: #444;
    font-weight: 900;
}

.calendar-ui .calendar-close {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    color: var(--blue);
    font-size: 3rem;
    cursor: pointer;
    transition: var(--trans);
    box-shadow: var(--shadow);
    border-radius: 50%;
}

.calendar-ui .calendar-close i.fas {
    border-radius: 50%;
    display: block;
}

.calendar-ui .calendar-close:active {
    transform: scale(.9);
}

.calendar-ui .calendar-close:focus {
    outline: none;
}

/**/
